<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vue 3</title>
  <link rel="stylesheet" href="./style.css">
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app">
    <h1 >
      {{capitalLetters}}
    </h1>
    <p>
      {{quantity}}
    </p>
    <a :href="link">Go to youtube</a>
    <p v-if="state"> active</p>
    <p v-else>Out</p>
    <hr>
    <h2 
      class="bg-dark"
      :class="quantityColor"
    >
      Quantity: {{quantity}}
    </h2>
    
    <hr>

    <p 
      v-for="(item, index) in services"
      :key="index"
    >
      {{item}}
    </p>

    <hr>

    <button 
      @click="addBalance"
    >
      Add balance
    </button>
    <button
      @click="decreaseBalance(50)" 
      :disable="disable"
    >
      Decrease Balance
    </button>

  <bank-footer
    :value="quantity"
    date="septiembre 2020"
  />

  </div>
  <script src="main.js"></script>
  <script src="./components/Footer.js"></script>
  <script>
    const mountedApp = app.mount ('#app')
  </script>
</body>
</html>